{%extends 'template-base.html'%}
{% load bootstrap4 %}
{%load staticfiles%}

{%block slider%}

{%endblock%}

{% block content %}
{{block.super}}
	
<!-- start of top section -->
<div class="hero-wrap" style="background-image: url('/static/images/apartment5.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
      <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
        <div class="text">
          <p class="breadcrumbs mb-2"><span class="mr-2"><a href="{% url 'signup' %}">Sign up</a></span> <span>+254 Housing</span></p>
          <p class="breadcrumbs mb-2"><span class="mr-2"><a href="{% url 'login' %}">Log in</a></p>
          <h1 class="mb-4 bread">Confirmation</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of top section -->

<!-- start of info -->
  <div class="container">
    <div class="row"> 
      <h2 style="margin-left: 15%;">Please check your email address to activate your account. </h2>
      </div>
  </div>
  <!-- end of info -->

	{%endblock%}

 