{%extends 'template-base.html'%}
{% load bootstrap4 %}
{%load staticfiles%}

{%block slider%}

{%endblock%}

{% block content %}
{{block.super}}

<!-- start of top section -->
<div class="hero-wrap" style="background-image: url('/static/images/apartment5.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
      <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
        <div class="text">
            <p class="breadcrumbs mb-2"><span class="mr-2"><a href="{% url 'welcome' %}">Home</a></span> <span>+254 Housing</span></p>
          <h1 class="mb-4 bread">Your Profile </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of top section -->

<!-- start of profile -->

<div class="card text-center">
    <div class="card-header">
      Profile
    </div>
    <div class="card-body">
      <h5 class="card-title">Name: {{profile.firstname}} {{profile.lastname}}</h5>
      <p class="card-text">Interested in: {{profile.interestedin}}.</p>
      <a href="{% url 'welcome' %}" class="btn btn-primary">Browse houses</a>
    </div>
    <div class="card-footer text-muted">
        Date of Birth: {{profile.birth_date}}
    </div>
  </div>

<p></p>
  <!-- end of profile -->

{%endblock%}

 