{%extends 'template-base.html'%}
{% load bootstrap4 %}
{%load staticfiles%}

{% block content %}
{{block.super}}
<!-- welcome section -->
    <section class="ftco-section ftc-no-pb ftc-no-pt">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/bg_2.jpg);">
						<a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
							<span class="icon-play"></span>
						</a>
					</div>
					<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
	          <div class="heading-section heading-section-wo-line pt-md-5 pl-md-5 mb-5">
	          	<div class="ml-md-0">
		          	<!-- <span class="subheading">Welcome to Deluxe Hotel</span> -->
					  {% if user.is_authenticated %}
					<h2 class="mb-4"> Welcome {{ user.username }}!</h2>
  					<h4>+254 Housing Onboarding </h4>
					  {% else %}
		            <h2 class="mb-4">Welcome To +254 Housing</h2>
					{% endif %}
					
	            </div>
	          </div>
	          <div class="pb-md-5">
							<p>Established in 2021, +254 Housing has emerged as Kenya's most preferred platform for buying and selling properties.
								As we are new in the market, so too is our passion for excellence, as we consistently work to ensure the quality and authenticity of properties showcased in our platform remains second to none. Core to this operation is the 24/7 availability and moving services of +254 Housing that deliver complete bespoke property solutions.
								
							</p>
							
							<ul class="ftco-social d-flex">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
						</div>
					</div>
				</div>
			</div>
		</section>
<!-- end of welcome section -->

<!-- service section -->
	<section class="ftco-section">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services py-4 d-block text-center">
              <div class="d-flex justify-content-center">
              	<div class="icon d-flex align-items-center justify-content-center">
              		<span class="flaticon-reception-bell"></span>
              	</div>
              </div>
              <div class="media-body p-2 mt-2">
                <h3 class="heading mb-3">24/7 Contact</h3>
                <p>We are available and accessible 24/7 including weekends and public holidays.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services py-4 d-block text-center">
              <div class="d-flex justify-content-center">
              	<div class="icon d-flex align-items-center justify-content-center">
              		<span class="flaticon-serving-dish"></span>
              	</div>
              </div>
              <div class="media-body p-2 mt-2">
                <h3 class="heading mb-3">Impeccable Service</h3>
                <p>We produce A-level service in connecting buyers and sellers in a highly convenient way.</p>
              </div>
            </div>    
          </div>
          <div class="col-md-3 d-flex align-sel Searchf-stretch ftco-animate">
            <div class="media block-6 services py-4 d-block text-center">
              <div class="d-flex justify-content-center">
              	<div class="icon d-flex align-items-center justify-content-center">
              		<span class="flaticon-car"></span>
              	</div>
              </div>
              <div class="media-body p-2 mt-2">
                <h3 class="heading mb-3">Moving Facilities</h3>
                <p>We offer trusted and timely moving services across the entire city of Nairobi.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services py-4 d-block text-center">
              <div class="d-flex justify-content-center">
              	<div class="icon d-flex align-items-center justify-content-center">
              		<span class="flaticon-spa"></span>
              	</div>
              </div>
              <div class="media-body p-2 mt-2">
                <h3 class="heading mb-3">Serene Suites</h3>
                <p>We give you extensive and bewilderingly luxurious suites to choose from.
				</p>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </section>
<!-- end of service section -->

<!-- houses display section -->
    <section class="ftco-section bg-light">
    	<div class="container">
				<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2 class="mb-4">Our Houses</h2>
          </div>
		  <div class="col-lg-6 sidebar ftco-animate">
            <div class="sidebar-box">
              <form action="{%url 'searchlocation' %}" class="search-form">
                <div class="form-group">
                  <span class="icon fa fa-search"></span>
                  <input type="text" class="form-control" name="locationsearch" placeholder="Search by Location">
                </div>
              </form>
            </div>
			<div class="sidebar-box">
				<form action="{%url 'searchcontract' %}" class="search-form">
				  <div class="form-group">
					<span class="icon fa fa-search"></span>
					<input type="text" class="form-control" name="contractsearch" placeholder="Search by contract type |buy or rent|">
				  </div>
				</form>
			  </div>
		  </div>

        </div>    		
    		<div class="row">
				{%for house_item in all_houses%}
    			<div class="col-sm col-md-6 col-lg-4 ftco-animate">
    				<div class="room">                                                                    
    					<a href="#" class="img d-flex justify-content-center align-items-center" style="background-image: url('{{house_item.house_image.url}}');">				
    						<div class="icon d-flex justify-content-center align-items-center">
    							<span class="icon-search2"></span>
    						</div>
    					</a>
    					<div class="text p-3 text-center">
    						<h3 class="mb-3"><a href="#">{{house_item.housename}}</a></h3>
    						<p><span class="price mr-2">ksh {{house_item.price}}</span><span class="per">per month</span></p>
							<p>Contract type: {{house_item.contract_type}}</p>
							<p>Location: {{house_item.location}}</p>
    						<hr>
    						<p class="pt-1"><a href="{% url 'singlehouse' house_item.id %}" class="btn-custom">View Property Details <span class="icon-long-arrow-right"></span></a></p>
    					</div>
    				</div>
    			</div>
				{%endfor%}
    			
    		</div>
    	</div>
    </section>
<!-- end of houses display section -->

<!-- happy clients -->
    <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url('/static/images/bg_1.jpg');">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-10">
		    		<div class="row">
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="50000">0</strong>
		                <span>Happy Clients</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="3000">0</strong>
		                <span>Houses</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="1000">0</strong>
		                <span>Partners</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="100">0</strong>
		                <span>Locations</span>
		              </div>
		            </div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>

<!-- end of happy clients -->

<!-- review section -->
<div style="margin-left: 44%;margin-top: 5%;">
	<a href="{% url 'make_review' %}" class="btn btn-primary btn-lg" role="button">Make review</a>
</div>

    <section class="ftco-section testimony-section bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 ftco-animate">
          	<div class="row ftco-animate">
		          <div class="col-md-12">
		            <div class="carousel-testimony owl-carousel ftco-owl">
						{%if reviews%}
						{%for review in reviews%}
		              <div class="item">
		                <div class="testimony-wrap py-4 pb-5">
		                  <div class="user-img mb-4" style="background-image: url('/static/images/avatar.png')">
		                    <span class="quote d-flex align-items-center justify-content-center">
		                      <i class="icon-quote-left"></i>
		                    </span>
		                  </div>
		                  <div class="text text-center">
		                    <p class="mb-4">{{review.review}}</p>
		                    <p class="name">{{review.reviewer}}</p>
		                    <span class="position">{{review.review_date}}</span>
		                  </div>
		                </div>
		              </div>
					  {%endfor%}
					  {%else %}
					  <div class="text text-center">
						<p class="mb-4">No reviews made yet</p>
					  </div>
					  {%endif%}
		            </div>
		          </div>
		        </div>
          </div>
        </div>
      </div>
    </section>
<!-- end of review section -->

	<!-- start of instagram section -->
    <section class="instagram">
		<div class="container-fluid">
		  <div class="row no-gutters justify-content-center pb-5">
			<div class="col-md-7 text-center heading-section ftco-animate">
			  <h2><span>Featured on Instagram</span></h2>
			</div>
		  </div>
		  <div class="row no-gutters">
			<div class="col-sm-12 col-md ftco-animate">
			  <a href="/static/images/apartment2.jpg" class="insta-img image-popup" style="background-image: url('/static/images/apartment2.jpg');">
				<div class="icon d-flex justify-content-center">
				  <span class="icon-instagram align-self-center"></span>
				</div>
			  </a>
			</div>
			<div class="col-sm-12 col-md ftco-animate">
			  <a href="/static/images/apartment6.jpg" class="insta-img image-popup" style="background-image: url('/static/images/apartment6.jpg');">
				<div class="icon d-flex justify-content-center">
				  <span class="icon-instagram align-self-center"></span>
				</div>
			  </a>
			</div>
			<div class="col-sm-12 col-md ftco-animate">
			  <a href="/static/images/apartment7.jpg" class="insta-img image-popup" style="background-image: url('/static/images/apartment7.jpg');">
				<div class="icon d-flex justify-content-center">
				  <span class="icon-instagram align-self-center"></span>
				</div>
			  </a>
			</div>
			<div class="col-sm-12 col-md ftco-animate">
			  <a href="/static/images/apartment8.jpg" class="insta-img image-popup" style="background-image: url('/static/images/apartment8.jpg');">
				<div class="icon d-flex justify-content-center">
				  <span class="icon-instagram align-self-center"></span>
				</div>
			  </a>
			</div>
			<div class="col-sm-12 col-md ftco-animate">
			  <a href="/static/images/apartment9.jpg" class="insta-img image-popup" style="background-image: url('/static/images/apartment9.jpg');">
				<div class="icon d-flex justify-content-center">
				  <span class="icon-instagram align-self-center"></span>
				</div>
			  </a>
			</div>
		  </div>
		</div>
	  </section>
   <!-- end of instagram section -->
{%endblock%}